<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home | Ruby on Rails Tutorial Sample App</title>
<style type="text/css">
body {
	background-color: #ffc934;
	color: #67624F;
	line-height:1em;
}
h1
{
font-size:4em;	
}
h2
{
font-size:2em;	
}
.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
</style>
</head>
?
<body>
?
<center>
  <p><img src="img/maintenance.png"/></p>
  <h1>Under maintenance</h1>
 <h2>New challenges on their way!</h2>
  <p style="margin-top:60px;"><a href="http://www.facebook.com/makesensefanpage"><img src="img/Facebook.png"/></a></p>
</center>
?
?
?
</body>
</html>